/* You can add global styles to this file, and also import other style files */

body{
    background-color: #E0E4CC;
}
.grid-container{
    display:grid;
}

:root{
    --bg-color:#E0E4CC;
    --button-color:#F38630;
    --skyblue-color: #69D2E7;
    --clear-skyblue-color: #A7DBD8;
}